language: node_js
node_js:
  - "stable"

branches:
  - HomeWork1

script:
  - npm run test
  - npm run build

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: build
  on:
    branch:
      - master
      - devel