language: node_js
node_js:
  - "stable"
dist: trusty
addons:
  apt:
    packages:
      # This is required to run new chrome on old trusty
      - libnss3

branches:
 # - HW7

script:
  - npm run build

# deploy:
#   provider: pages
#   skip_cleanup: true
#   github_token: $repo_token
#   local_dir: ts2/build
#   on:
#     branch:
#       - master
      #- HW7

before_install:
  - cd ts2
  # Enable user namespace cloning
  - "sysctl kernel.unprivileged_userns_clone=1"
  # Launch XVFB
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"