language: node_js
node_js:
  - "stable"
dist: trusty
addons:
  apt:
    packages:
      # This is required to run new chrome on old trusty
      - libnss3
branches:
  - exam_2 
script:
  - npm run build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $repo_token
  api_key: $APIKEY
  local_dir: exam_2/build
  on:
    branch:
      - master
      - exam_2

before_install:
  # Enable user namespace cloning
  - "sysctl kernel.unprivileged_userns_clone=1"
  # Launch XVFB
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - cd exam_2