.imgButton {
    height: 37px;
    width: 37px;
    padding: 3px;
}

img{
    padding: 4px 4px 4px 4px;
    background: white;
    height: 40px;
    width: 40px;
    border: none;
}
.rectangle {
    background-color: red;
    width:100%;
    height:10%;
}
.input-form {
    display:flex;
    width: 90%;
    font-size: 40px;
    height: 5vh;
    align-self: flex-end;
}
.chat {
    display:flex;
}
.chat1 {
    display:flex;
    flex-direction: column-reverse;
}
.index-page {
    background-color: #C691D4;
}

.message {
    background: #C691D4;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    align-self: flex-end;
} 

.Message-list {
    display: flex;
    flex-direction: column;
}