.html{
    height: 100%;
    width: 100%;
}

.body{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
}

.imgButton {
    height: 37px;
    width: 37px;
    padding: 3px;
}



.chat1 {
    display:flex;
    flex-direction: column-reverse;
}
.index-page {
    background-color: #8E24AA;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AppName{
    color:white;
    font-size: 70px;
    padding: 40px;
}

A:link{
    font-size: 50px;
    text-decoration: none;
    color:white;
}
A:visited{
    color:white;
}

.user-page{
    background-color: #8E24AA;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message {
    background: #dda6ec;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    align-self: flex-end;
} 

.Message-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    flex-basis: 500px;
    height: 450px;
}


.FormChat{
    display: flex;
    flex-direction: column;
}